* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.welcome{
  font-size: x-large;
}
.wrapper{
  display: grid;
  grid-template-columns: 3fr 1fr ;
  grid-auto-flow: column;
}
.news2{
  position: relative;
  right: 0;
}
.weather{
  position: relative;
}
h2 {
  text-align: center;
  padding: 10px;
  background-color: #bada55;
  font-weight: bolder;
  box-shadow: 2px 2px 15px  grey;
}
h3 {
  /* color: hotpink; */
  font-size: larger;
  font-weight: bolder;
  padding: 10px;
  margin: 5px;
  text-align: center;
  box-shadow: 2px 2px 15px  grey;
}
.news-item{
  margin: 20px;
  /* padding: 10px; */

}
.staff{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card{
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 15px  grey;
}
#txt{
  text-align: center;
  font-size: 84px;
}
