* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* overflow: hidden; */
}
body {
  background-color: #fffcfa;
  background-image: url("https://d3cl79h6n1fe0x.cloudfront.net/wp-content/uploads/2019/11/AdobeStock_198190880-scaled.jpeg");
  background-size: cover;
}
.welcome {
  font-size: x-large;
}
.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-flow: column;
}
.news2 {
  position: relative;
  right: 0;
  background-color: #f5f5f580;
}
.weather {
  position: relative;
}
h2 {
  text-align: center;
  padding: 10px;
  background-color: #bada55;
  font-weight: bolder;
  box-shadow: 2px 2px 15px grey;
  background-color: white;
}
h3 {
  /* color: hotpink; */
  font-size: larger;
  font-weight: bolder;
  padding: 10px;
  margin: 5px;
  text-align: center;
  box-shadow: 5px 5px 20px grey;
  background-color: white;
}
.news-item {
  margin: 20px;
  width: 100%;
  background-color: #f5f5f520;
  font-size: larger;
  font-weight: bold;
  text-shadow: 2px 2px 5px whitesmoke;
}
.staff {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 15px grey;
  background-color: white;
}
.card img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#txt {
  text-align: center;
  font-size: 84px;
}
section {
  height: 100%;
  width: 100%;
  position: absolute;
  background: radial-gradient(#333, #000);
}

canvas {
  display: block;
}
