* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}
body {
  background-color: #fffcfa;
  background-image: url("./christmas-tree-bg.jpg");
  background-size: cover;
}
.welcome {
  font-size: x-large;
}
.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-flow: column;
}
.news2 {
  position: relative;
  right: 0;
}
.weather {
  position: relative;
}
h2 {
  text-align: center;
  padding: 10px;
  background-color: #bada55;
  font-weight: bolder;
  box-shadow: 2px 2px 15px grey;
  background-color: white;
}
h3 {
  /* color: hotpink; */
  font-size: larger;
  font-weight: bolder;
  padding: 10px;
  margin: 5px;
  text-align: center;
  box-shadow: 2px 2px 15px grey;
  background-color: white;
}
.news-item {
  margin: 20px;
  /* padding: 10px; */
}
.staff {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 15px grey;
  background-color: white;
}
.card img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#txt {
  text-align: center;
  font-size: 84px;
}
section {
  height: 100%;
  width: 100%;
  position: absolute;
  background: radial-gradient(#333, #000);
}
/* .leaf {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.leaf div {
  position: absolute;
  display: block;
}
.leaf div:nth-child(1) {
  left: 20%;
  animation: fall 15s linear infinite;
  animation-delay: -2s;
}
.leaf div:nth-child(2) {
  left: 70%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}
.leaf div:nth-child(3) {
  left: 10%;
  animation: fall 20s linear infinite;
  animation-delay: -7s;
}
.leaf div:nth-child(4) {
  left: 50%;
  animation: fall 18s linear infinite;
  animation-delay: -5s;
}
.leaf div:nth-child(5) {
  left: 85%;
  animation: fall 14s linear infinite;
  animation-delay: -5s;
}
.leaf div:nth-child(6) {
  left: 15%;
  animation: fall 16s linear infinite;
  animation-delay: -10s;
}
.leaf div:nth-child(7) {
  left: 90%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
} */

/* @keyframes fall {
  0% {
    opacity: 1;
    top: -10%;
    transform: translateX (20px) rotate(0deg);
  }
  20% {
    opacity: 0.8;
    transform: translateX (-20px) rotate(45deg);
  }
  40% {
    transform: translateX (-20px) rotate(90deg);
  }
  60% {
    transform: translateX (-20px) rotate(135deg);
  }
  80% {
    transform: translateX (-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX (-20px) rotate(225deg);
  }
} */
/* .leaf1 {
  transform: rotateX(180deg);
} */
/* .leaf3 {
  transform: rotateX(270deg);
} */
/* h2{
      position:absolute ;
      top:40%;
      width:100%;
      font-family: 'Courgette', cursive;
      font-size:4em;
      text-align:center;
      transform:translate ;
      color:#fff;
      transform:translateY (-50%);
  } */
body,
html {
  height: 100%;
}

/* .falling-leaves { 
   position: absolute; 
   top: 0; 
   bottom: 0; 
   left: 50%; 
   width: 100%; 
   max-width: 880px;
    max-height: 880px; 
   transform: translate(-50%, 0); 
   border: 20px solid #fff; 
   border-radius: 50px; 
   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/125707/sidebar-bg.png) no-repeat center center; 
   background-size: cover;
    overflow: hidden; 
  } */

/* .leaf-scene {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform-style: preserve-3d;
} */
/* .leaf-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/125707/leaf.svg) no-repeat;
  background: url(http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png)
    no-repeat;
  background-size: 100%;
  transform-style: preserve-3d;
  backface-visibility: visible;
} */
canvas {
  display: block;
}
