#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0;
    right: 0;
    /* background-color: #2c3e50; */
  }
  
  .snowflake {
      padding-left: 15px;
      font-family: Cambria, Georgia, serif;
      font-size: 14px;
      line-height: 24px;
      position: fixed;
      /* color: #FFFFFF; */
      color: hotpink;
      user-select: none;
      z-index: 1000;
  }
  .snowflake:hover {
      cursor: default;
  }